
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

p {
    font-size: large;
}

.second-para {
    font-family: cursive;
    color: chartreuse;
}

